<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bootstrap/css")

</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bootstrap/js")
</body>
</html>
